* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* header */
header {
    height:12vh;
    background-color:black;
    padding:4vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
header h1 {
    color:white;
    text-decoration: none;
}
header a {
    color:white;
    text-decoration: none;
}

/* footer */
footer {
    display:flex;
    height:12vh;
    background-color:black;
    align-items: center;
    justify-content: flex-start;
}
footer a {
    height:24px;
    color:white;
    font-size:14px;
    text-decoration: none;
    margin-left:25px;
}
footer i {
    color:white;
    font-size:24px;
    display:flex;
}