/* FIXO TODAS AS PÁGINAS */

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* header */
header {
    height:12vh;
    background-color:black;
    padding:4vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
header h1 {
    color:white;
    text-decoration: none;
}
header a {
    color:white;
    text-decoration: none;
}

/* footer */
footer {
    display:flex;
    height:12vh;
    background-color:black;
    align-items: center;
    justify-content: flex-start;
}
footer a {
    height:24px;
    color:white;
    font-size:14px;
    text-decoration: none;
    margin-left:25px;
}
footer i {
    color:white;
    font-size:24px;
    display:flex;
}

/* PÁGINA 1 - INDEX */

/* main */
main {
    padding: 14vh 0 14vh 0;
}

section {
    display:flex;
    justify-content:center;
    gap:10vw;
}

.sessaoEsquerda {
    width:40vw;
    border:2px solid black;
    padding:20px;
}
.sessaoEsquerda h2 {
    margin-bottom:10px;
}
.sessaoEsquerda p {
    text-align: justify;
}

.sessaoDireita {
    width:23vw;
    border:2px solid black;
    padding:20px;
}


.sessaoDireita h3:first-of-type {
    display:inline-block;
}
.sessaoDireita p:first-of-type {
    display:inline-block;
    font-size:12px;
}

img {
    width:10vw;
    height:auto;
    margin:10px 0;
}

.sessaoDireita h3:last-of-type {
    margin-bottom:10px;
    font-size:18px;
}

.sessaoDireita__linguagem {
    border:2px solid black;
    padding:10px;
    width:20vw;
    margin:10px 1.5px;
}


/* PÁGINA 2 - PROJETOS */